/* <<<<<<<<<<<--------NAV BAR------->>>>>>>>>>>>> */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
 justify-content: space-around;
height: 80px;
 width: 100%;

}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:100px;
    height:55px;
}

.logo-text h2{
    margin:0;
    color:#15803d;
    font-size:24px;
    font-weight:700;
}

.logo-text p{
    margin:0;
    color:#666;
    font-size:14px;
    letter-spacing:1px;
}
.nav_msg{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  font-size: 19px;

}
.nav_msg p{
    cursor:pointer;
    transition:0.3s;
}
.nav_msg p:hover{
  color:  rgb(74, 121, 2);
}
.nav_msg button{
  background-color: rgb(63, 104, 2);
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
}
.nav_msg button:hover{
  background-color: white;
  border: 1px solid green;
  color: green;
  box-shadow: 2px 2px 2px green;
}

/* <<<<<<<<--------HOME---------->>>>>>>>>>>>> */

.Hero{
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('./assets/ngo_new.png');
  height: 600px;
  background-size:cover;
  padding: 150px;
  padding-top: 80px;
}

.text-Hero h3,.text-Hero span {
  color: green;
}
.text-Hero h3{
  font-size: 25px;
}
.text-Hero h4,.text-Hero p, .text-Hero h1{
  color: white;
}

.text-Hero h1{
  font-size: 60px;
}
.text-Hero p{
  font-size: 15px;
  
}

.button-Hero button{
  height: 40px;
  width: 100px;
  margin: 20px;
  border-radius: 10px;
}
.donate{
  background-color: green;
  color: white;
  border: none;
}
.learn{
color: white;
  border: white 1px solid;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  border: none;
}

/* <<<<<<<<<<<<<----------ABOUT US--------->>>>>>>>>> */

.about-heading{
  background:hsl(105, 36%, 96%);
    padding:40px 0;
    width: 100%;
 text-align: center;

}
.about-heading h1{
  font-size: 48px;
}

.underline{
    width:80px;
    height:4px;
    background:#22c55e;
    margin:10px auto;
    border-radius:10px;
}
.about-container{
   background:white;
    padding:60px 80px;
   display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
}
 .about-content h2{
  color: green;
  margin-bottom: 20px;
  margin-top: 20px;
 }
 .about-content p{
  line-height: 1.8;
  margin-bottom: 20px;
  color: hsl(0, 0%, 27%);
  font-size: large;
 }

 .join-btn{
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-size: medium;
 cursor: pointer;
   transition:0.3s ease;
 }
 .join-btn:hover{
    background:#15803d;
    transform:scale(1.05);
}

.about-image img{
  height: 350px;
  width: 100%;
  background-color: white;
}
.about-card{
  display: flex;
  justify-content: center;
  gap: 10px;
  
}
.card{
  width: 250px;
  padding: 20px;
  text-align: center;
}
.card h3{
    color:#16a34a;
    margin-bottom:20px;

}

.card p{
    color:hsl(0, 0%, 33%);
    line-height:1.6;
    font-size: medium;
}

/* <<<<<<<<<<<<<<<<----------OUR PROGRAMS------------->>>>>>>>>> */
.program-heading{
    background:hsl(105, 36%, 96%);
    padding:40px 0;
    width: 100%;
 text-align: center;
}

.program-heading h1{
  font-size: 48px;
}
.underline{
    width:80px;
    height:4px;
    background:#22c55e;
    margin:10px auto;
    border-radius:10px;
}

.program-card{
  display: flex;
  margin: 30px;
  gap: 100px;
  justify-content: center;
}
.edu-card,
.women-card,
.community-card{
   height: 400px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}
.edu-card:hover,
.women-card:hover,
.community-card:hover{
    transform: translateY(-8px);
    
}
.edu-card img,
.women-card img,
.community-card img{
  width: 100%;
  height: 150px;

}
.edu-content,
.women-content,
.community-content{
  padding-top: 15px;
  padding-left: 30px;
  line-height: 1.6;
}

.program-card h3{
color: green;
}
.program-card p{
   color:hsl(0, 0%, 33%);
}
.program-card button{
  height: 40px;
  width: 90px;
  border-radius: 5px;
  background-color: green;
  color: white;
  border:none;
  cursor: pointer;
   transition:0.3s ease;
}

.program-card button:hover{
    background:#15803d;
    transform:scale(1.05);
}

/* <<<<<<<<<<<<-----------IMPACT-------->>>>>>>>> */

.impact-section{
  display: flex;
  margin: 30px;
  gap: 100px;
  justify-content: center;
  text-align: center;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  height: 200px;
  padding: 20px;
  


}
.impact-section p{
  color: hsl(0, 0%, 27%);
}

.impact-icon{
  color: green;
  font-size: 40px !important;
   margin-bottom:10px;
}

/*<<<<<<<<<<-------- CONTACT-US--------->>>>>>>>>> */

.contact-heading{
    background:hsl(105, 36%, 96%);
    padding:40px 0;
 text-align: center;

}

.contact-heading h1{
  font-size: 48px;
}
.underline{
    width:80px;
    height:4px;
    background:#22c55e;
    margin:10px auto;
    border-radius:10px;
}
.contact-section{
    display:flex;
    justify-content:space-between;
    padding:60px 80px;
    gap:70px;
    background:white;
 
}
.contact-left{
    width:35%;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
}
.contact-left h3{
  color: green;
  margin-bottom:15px;
}
.contact-left p{
  color: hsl(0, 0%, 27%);
  line-height: 1.9;
}
.contact-box{
    display:flex;
    gap:15px;
    margin-top:25px;
     align-items: flex-start; 
}

.contact-icon{
    color:#1b8c2d;
    font-size:25px !important;
     flex-shrink: 0;
}

/* <<<<<<<<------right--------->>>>>>>>>> */
.contact-right{
   padding:25px;
    height: 500px;
  width: 55%;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.10);
}
.input-row{
  display: flex;
  gap: 20px;
 
}
.input-row div{
  width: 100%;
}
.contact-right input{
    width:100%;
  padding:12px;
    margin-top:8px;
   margin-bottom:20px;
  border:1px solid #ddd;
  border-radius:6px;
}
.contact-right textarea{
    width:100%;
  padding:12px;
    margin-top:8px;
  border:1px solid #ddd;
    border-radius:6px;
}

.contact-right button{
    margin-top:20px;
   background:#198d2c;
   color:white;
    border:none;
  padding:12px 25px;
    border-radius:6px;
  cursor:pointer;
}

.contact-right button:hover{
  background:#126d21;
}

/* <<<<<<<<<-------social media------->>>>>>>>>>> */
.follow-heading{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.follow-heading h4{
    margin: 0;
}
.follow-us{
    margin-top:30px;
}

.follow-us h4{
    margin-bottom:15px;
}

.social-icons{
    display:flex;
    gap:15px;
}

.social-icon{
    font-size:35px !important;
    cursor:pointer;
    transition:0.3s;
}

.social-icon:hover{
    transform:scale(1.15);
}

.facebook{
    color:#1877F2;
}

.instagram{
    color:#E4405F;
}

.linkedin{
    color:#0A66C2;
}

.twitter{
    color:#1DA1F2;
}

/* <<<<<<<<<<-------TABLET------->>>>>>>> */
@media (max-width:1023px){

.navbar{
    flex-direction:column;
    height:auto;
    padding:20px;
}

.nav_msg{
    gap:30px;
    flex-wrap:wrap;
    margin-top:15px;
}

.Hero{
    padding:80px 50px;
    height:auto;
}

.text-Hero h1{
    font-size:45px;
}

.about-container{
    flex-direction:column;
    padding:40px;
}

.about-image img{
    width:100%;
}

.about-card{
    flex-wrap:wrap;
}

.program-card{
    flex-wrap:wrap;
    gap:40px;
}

.impact-section{
    flex-wrap:wrap;
    height:auto;
    gap:40px;
}

.contact-section{
    flex-direction:column;
}

.contact-left,
.contact-right{
    width:100%;
}

}

/* <<<<<<<<--------MOBILE-------->>>>>>>>> */
@media (max-width:768px){

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 20px;
}

.nav_msg{
    gap:15px;
    font-size:14px;
}

.logo img{
    width:70px;
}

.logo-text h2{
    font-size:18px;
}

.logo-text p{
    font-size:10px;
}

.nav_msg button{
    width:80px;
    height:35px;
    font-size:12px;
}

}

/* <<<<<<<<<---------DARK MODE && LIGHT MODE */
.light-mode{
    background:white;
    color:black;
}

.dark-mode{
    background:#121212;
    color:white;
}
/* navbar css*/
.theme-btn{
    height:40px;
    width:40px;
    border:none;
    border-radius:50%;
    cursor:pointer;
    font-size:20px;
    background:#198d2c;
    color:white;
    border: none;
}

.theme-btn:hover{
    background:#126d21;
}
.dark-mode .navbar{

    background:#1b1b1b;

}
/* Home css */
.dark-mode .Hero{
    filter:brightness(.8);
}
/* About css */
.dark-mode .about-container{

    background:#1c1c1c;

}

.dark-mode .about-content p{
    color:#d8d8d8;
}
.dark-mode .card{
    background:#2a2a2a;
}
/* Program */
.dark-mode .edu-card,
.dark-mode .women-card,
.dark-mode .community-card{
    background:#2a2a2a;
    color:white;
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    
}
/* Impact */
.dark-mode .impact-section{
    background:#222;
}
/* Contact */
.dark-mode .contact-section{
    background:#181818;
}

.dark-mode .contact-left,
.dark-mode .contact-right{
    background:#222;
}

.dark-mode input,
.dark-mode textarea{
    background:#333;
    color:white;
    border:1px solid #555;
}
/* Heading */
.dark-mode .about-heading,
.dark-mode .program-heading,
.dark-mode .contact-heading{

    background:#1c1c1c;

}
/* Paragraph */
.dark-mode p{
    color:#d9d9d9;
}
/* Button */
.dark-mode button{
    background:#198d2c;
}
